# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# SQLite database
pokedecks.db
pokedecks.db-shm
pokedecks.db-wal

# VSCode settings
.vscode/

.vs/

bin/
obj/

# Old API 
.PokedecksBackend

#Migrations
Migrations/

#IDE
.idea/

# Log files
*.log

secret.txt